{% extends 'base.html.twig' %}

{% block title %}Hello fishing!{% endblock %}

{% block body %}
    {{ form_start(addFishForm) }}
        {% if addFishForm.vars.errors|length %}
            <div class="alert alert-danger">
                {{ form_errors(addFishForm) }}
            </div>
        {% endif %}
        <div class="space-y-4">
          {{ form_row(addFishForm.species, {
              attr: { 
                  id: 'species',
                  class: 'block w-full border-0 border-b border-gray-400 focus:darkgreen focus:outline-none focus:ring-0 pt-5', 
                  placeholder: 'Species'
              },
          }) }}
          {{ form_row(addFishForm.length, {
              attr: { 
                  id: 'length',
                  class: 'block w-full border-0 border-b border-gray-400 focus:darkgreen focus:outline-none focus:ring-0 pt-5', 
                  placeholder: 'Length'
              },
          }) }}
            <button type="submit"
                class="w-full bg-darkgreen text-white font-semibold py-2 rounded-lg hover:bg-opacity-90 transition">
                wobble IT!
            </button>
        </div>
    {{ form_end(addFishForm) }}

{% endblock %}
